<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 footer-text">
                <h4>Elshad Hasanli &#169; 2021</h4>
            </div>
            <div class="col-lg-4 footer-sosial">
                <a href="">
                    <i class="fab fa-twitter-square"></i>
                </a>
                <a href="">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>